# Compiled binaries / executables
*.exe
*.out
*.app
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib

# Debug files
*.pdb
*.ilk
*.idb

# Build directories
build/
bin/
obj/

# VSCode
.vscode/

# OS files
Thumbs.db
.DS_Store
desktop.ini